<!doctype html>

<html>
    <head>
        {{ content_for_header }}
    </head>

    <body>
        {% sections 'header-group' %}
        {{ content_for_layout }}
        {% sections 'footer-group' %}
    </body>
</html>

