<div class="cart-main">

    <div class="cart-header">
        <p class="cart-breadcrumb">
            <a href="/">Home</a> &gt; {{ collection.title }}
        </p>
    </div>

    <div class="cart-products">
        <div class="cart-product-card"></div>

        <div class="order-summary-card"></div>
    </div>

    <div class="you-may-also-like"></div>

</div>