<div class="contactform-section">

    <div class="header-subheader-contactform-section">
        <h3 class="GIT">{{ section.settings.heading }}</h3>
        <h3 class="SubH">{{ section.settings.subheading }}</h3>
    </div>

    
      
        <div class="details">

            {% form 'contact' %}

            {% if form.posted_successfully? %}
                <p class="form-success">Thanks for contacting us! We will get back to you soon.</p>
            {% endif %}

            {{ form.errors | default_errors }}

            <label for="ContactFormName">Enter Your Name</label>
            <input type="text" name="contact[name]" id="ContactFormName" required>

            <label for="ContactFormEmail">Enter Your Email</label>
            <input type="text" name="contact[email]" id="ContactFormEmail" required>

            <label for="ContactFormPhone">Enter Your Phone Number</label>
            <input type="tel" name="contact[phone]" id="ContactFormPhone" required>

            <label for="ContactFormMessage">How Can We Help</label>
            <textarea name="contact[body]" id="ContactFormMessage" rows="4"></textarea>

            {% form 'contact' %}
                {% render 'buttons', text: 'Send Message', type: 'submit' %}
            {% endform %}
            
            {% endform %}
            
        </div>
</div>

{% schema %}

{
    "name": "Contact Form",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Get In Touch"
            
        },
        {
            "type": "text",
            "id": "subheading",
            "label": "SubHeading",
            "default": "Get product details our team will respond soon."
        }
    ],
    "presets": [
        {
            "name": "Contact Form Section"
        }
    ]
}

{% endschema %}