<div class="features-container">

    <div class="headind-container">
        <h6 class="subheading">Featured Products</h6>
        <h2 class="features-heading"></h2>
    </div>

    <div class="bestsellers-section"></div>

    <div class="collections-section">
        <h2 class="collections-heading"></h2>
    </div>

</div>