<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="styleguide.css" />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="hero-header-section">
            <div class="navigation-header">
                <header class="header">
                    <div class="logo-content">
                        <div class=logo-wrap>
                        
                        </div>
                    </div>
                    <div class="navigation-container">
                        <div class="navigation">
                            <a href="/" class="button">Home</a>
                            <a href="/" class="button">Keystones &amp; Corbels</a>
                            <a href="/" class="button">Wall Plaques</a>
                            <a href="/" class="button">Capitals</a>
                            <a href="/" class="button">Vents &amp; Grilles</a>
                            <a href="/" class="button">Moulds</a>
                        </div>
                    </div>
                    <div class="search-container">
                        <div class=search-bar>

                        </div>
                    </div>
                </header>
            </div>
        </div>
    </body>
</html>

<style>


    :root {
    --display-2xl-regular-font-family: "Inter", Helvetica;
    --display-2xl-regular-font-weight: 400;
    --display-2xl-regular-font-size: 72px;
    --display-2xl-regular-letter-spacing: -1.44px;
    --display-2xl-regular-line-height: 90px;
    --display-2xl-regular-font-style: normal;
    --display-2xl-bold-font-family: "Inter", Helvetica;
    --display-2xl-bold-font-weight: 700;
    --display-2xl-bold-font-size: 72px;
    --display-2xl-bold-letter-spacing: -1.44px;
    --display-2xl-bold-line-height: 90px;
    --display-2xl-bold-font-style: normal;
    --display-2xl-semi-bold-font-family: "Inter", Helvetica;
    --display-2xl-semi-bold-font-weight: 600;
    --display-2xl-semi-bold-font-size: 72px;
    --display-2xl-semi-bold-letter-spacing: -1.44px;
    --display-2xl-semi-bold-line-height: 90px;
    --display-2xl-semi-bold-font-style: normal;
    --display-2xl-medium-font-family: "Inter", Helvetica;
    --display-2xl-medium-font-weight: 500;
    --display-2xl-medium-font-size: 72px;
    --display-2xl-medium-letter-spacing: -1.44px;
    --display-2xl-medium-line-height: 90px;
    --display-2xl-medium-font-style: normal;
    --display-XL-bold-font-family: "Inter", Helvetica;
    --display-XL-bold-font-weight: 700;
    --display-XL-bold-font-size: 60px;
    --display-XL-bold-letter-spacing: -1.2px;
    --display-XL-bold-line-height: 72px;
    --display-XL-bold-font-style: normal;
    --display-XL-semi-bold-font-family: "Inter", Helvetica;
    --display-XL-semi-bold-font-weight: 600;
    --display-XL-semi-bold-font-size: 60px;
    --display-XL-semi-bold-letter-spacing: -1.2px;
    --display-XL-semi-bold-line-height: 72px;
    --display-XL-semi-bold-font-style: normal;
    --display-XL-medium-font-family: "Inter", Helvetica;
    --display-XL-medium-font-weight: 500;
    --display-XL-medium-font-size: 60px;
    --display-XL-medium-letter-spacing: -1.2px;
    --display-XL-medium-line-height: 72px;
    --display-XL-medium-font-style: normal;
    --display-XL-regular-font-family: "Inter", Helvetica;
    --display-XL-regular-font-weight: 400;
    --display-XL-regular-font-size: 60px;
    --display-XL-regular-letter-spacing: -1.2px;
    --display-XL-regular-line-height: 72px;
    --display-XL-regular-font-style: normal;
    --display-l-bold-font-family: "Inter", Helvetica;
    --display-l-bold-font-weight: 700;
    --display-l-bold-font-size: 48px;
    --display-l-bold-letter-spacing: -0.96px;
    --display-l-bold-line-height: 60px;
    --display-l-bold-font-style: normal;
    --display-l-semi-bold-font-family: "Inter", Helvetica;
    --display-l-semi-bold-font-weight: 600;
    --display-l-semi-bold-font-size: 48px;
    --display-l-semi-bold-letter-spacing: -0.96px;
    --display-l-semi-bold-line-height: 60px;
    --display-l-semi-bold-font-style: normal;
    --display-l-medium-font-family: "Inter", Helvetica;
    --display-l-medium-font-weight: 500;
    --display-l-medium-font-size: 48px;
    --display-l-medium-letter-spacing: -0.96px;
    --display-l-medium-line-height: 60px;
    --display-l-medium-font-style: normal;
    --display-l-regular-font-family: "Inter", Helvetica;
    --display-l-regular-font-weight: 400;
    --display-l-regular-font-size: 48px;
    --display-l-regular-letter-spacing: -0.96px;
    --display-l-regular-line-height: 60px;
    --display-l-regular-font-style: normal;
    --display-m-bold-font-family: "Inter", Helvetica;
    --display-m-bold-font-weight: 700;
    --display-m-bold-font-size: 36px;
    --display-m-bold-letter-spacing: -0.72px;
    --display-m-bold-line-height: 44px;
    --display-m-bold-font-style: normal;
    --display-m-semi-bold-font-family: "Inter", Helvetica;
    --display-m-semi-bold-font-weight: 600;
    --display-m-semi-bold-font-size: 36px;
    --display-m-semi-bold-letter-spacing: -0.72px;
    --display-m-semi-bold-line-height: 44px;
    --display-m-semi-bold-font-style: normal;
    --display-m-medium-font-family: "Inter", Helvetica;
    --display-m-medium-font-weight: 500;
    --display-m-medium-font-size: 36px;
    --display-m-medium-letter-spacing: -0.72px;
    --display-m-medium-line-height: 44px;
    --display-m-medium-font-style: normal;
    --display-m-regular-font-family: "Inter", Helvetica;
    --display-m-regular-font-weight: 400;
    --display-m-regular-font-size: 36px;
    --display-m-regular-letter-spacing: -0.72px;
    --display-m-regular-line-height: 44px;
    --display-m-regular-font-style: normal;
    --display-s-bold-font-family: "Inter", Helvetica;
    --display-s-bold-font-weight: 700;
    --display-s-bold-font-size: 30px;
    --display-s-bold-letter-spacing: 0px;
    --display-s-bold-line-height: 38px;
    --display-s-bold-font-style: normal;
    --display-s-semi-bold-font-family: "Inter", Helvetica;
    --display-s-semi-bold-font-weight: 600;
    --display-s-semi-bold-font-size: 30px;
    --display-s-semi-bold-letter-spacing: 0px;
    --display-s-semi-bold-line-height: 38px;
    --display-s-semi-bold-font-style: normal;
    --display-s-medium-font-family: "Inter", Helvetica;
    --display-s-medium-font-weight: 500;
    --display-s-medium-font-size: 30px;
    --display-s-medium-letter-spacing: 0px;
    --display-s-medium-line-height: 38px;
    --display-s-medium-font-style: normal;
    --display-s-regular-font-family: "Inter", Helvetica;
    --display-s-regular-font-weight: 400;
    --display-s-regular-font-size: 30px;
    --display-s-regular-letter-spacing: 0px;
    --display-s-regular-line-height: 38px;
    --display-s-regular-font-style: normal;
    --display-XS-bold-font-family: "Inter", Helvetica;
    --display-XS-bold-font-weight: 700;
    --display-XS-bold-font-size: 24px;
    --display-XS-bold-letter-spacing: 0px;
    --display-XS-bold-line-height: 32px;
    --display-XS-bold-font-style: normal;
    --display-XS-semi-bold-font-family: "Inter", Helvetica;
    --display-XS-semi-bold-font-weight: 600;
    --display-XS-semi-bold-font-size: 24px;
    --display-XS-semi-bold-letter-spacing: 0px;
    --display-XS-semi-bold-line-height: 32px;
    --display-XS-semi-bold-font-style: normal;
    --display-XS-medium-font-family: "Inter", Helvetica;
    --display-XS-medium-font-weight: 500;
    --display-XS-medium-font-size: 24px;
    --display-XS-medium-letter-spacing: 0px;
    --display-XS-medium-line-height: 32px;
    --display-XS-medium-font-style: normal;
    --display-XS-regular-font-family: "Inter", Helvetica;
    --display-XS-regular-font-weight: 400;
    --display-XS-regular-font-size: 60px;
    --display-XS-regular-letter-spacing: -1.2px;
    --display-XS-regular-line-height: 72px;
    --display-XS-regular-font-style: normal;
    --text-XL-bold-font-family: "Inter", Helvetica;
    --text-XL-bold-font-weight: 700;
    --text-XL-bold-font-size: 60px;
    --text-XL-bold-letter-spacing: -1.2px;
    --text-XL-bold-line-height: 72px;
    --text-XL-bold-font-style: normal;
    --text-XL-semi-bold-font-family: "Inter", Helvetica;
    --text-XL-semi-bold-font-weight: 600;
    --text-XL-semi-bold-font-size: 20px;
    --text-XL-semi-bold-letter-spacing: 0px;
    --text-XL-semi-bold-line-height: 30px;
    --text-XL-semi-bold-font-style: normal;
    --text-XL-medium-font-family: "Inter", Helvetica;
    --text-XL-medium-font-weight: 500;
    --text-XL-medium-font-size: 20px;
    --text-XL-medium-letter-spacing: 0px;
    --text-XL-medium-line-height: 30px;
    --text-XL-medium-font-style: normal;
    --text-XL-regular-font-family: "Inter", Helvetica;
    --text-XL-regular-font-weight: 400;
    --text-XL-regular-font-size: 20px;
    --text-XL-regular-letter-spacing: 0px;
    --text-XL-regular-line-height: 30px;
    --text-XL-regular-font-style: normal;
    --text-l-bold-font-family: "Inter", Helvetica;
    --text-l-bold-font-weight: 700;
    --text-l-bold-font-size: 18px;
    --text-l-bold-letter-spacing: 0px;
    --text-l-bold-line-height: 28px;
    --text-l-bold-font-style: normal;
    --text-l-semi-bold-font-family: "Inter", Helvetica;
    --text-l-semi-bold-font-weight: 600;
    --text-l-semi-bold-font-size: 18px;
    --text-l-semi-bold-letter-spacing: 0px;
    --text-l-semi-bold-line-height: 28px;
    --text-l-semi-bold-font-style: normal;
    --text-l-medium-font-family: "Inter", Helvetica;
    --text-l-medium-font-weight: 500;
    --text-l-medium-font-size: 18px;
    --text-l-medium-letter-spacing: 0px;
    --text-l-medium-line-height: 28px;
    --text-l-medium-font-style: normal;
    --text-l-regular-font-family: "Inter", Helvetica;
    --text-l-regular-font-weight: 400;
    --text-l-regular-font-size: 18px;
    --text-l-regular-letter-spacing: 0px;
    --text-l-regular-line-height: 28px;
    --text-l-regular-font-style: normal;
    --text-m-bold-font-family: "Inter", Helvetica;
    --text-m-bold-font-weight: 700;
    --text-m-bold-font-size: 16px;
    --text-m-bold-letter-spacing: 0px;
    --text-m-bold-line-height: 24px;
    --text-m-bold-font-style: normal;
    --text-m-semi-bold-font-family: "Inter", Helvetica;
    --text-m-semi-bold-font-weight: 600;
    --text-m-semi-bold-font-size: 16px;
    --text-m-semi-bold-letter-spacing: 0px;
    --text-m-semi-bold-line-height: 24px;
    --text-m-semi-bold-font-style: normal;
    --text-m-medium-font-family: "Inter", Helvetica;
    --text-m-medium-font-weight: 500;
    --text-m-medium-font-size: 16px;
    --text-m-medium-letter-spacing: 0px;
    --text-m-medium-line-height: 24px;
    --text-m-medium-font-style: normal;
    --text-m-regualr-font-family: "Inter", Helvetica;
    --text-m-regualr-font-weight: 400;
    --text-m-regualr-font-size: 16px;
    --text-m-regualr-letter-spacing: 0px;
    --text-m-regualr-line-height: 24px;
    --text-m-regualr-font-style: normal;
    --text-s-bold-font-family: "Inter", Helvetica;
    --text-s-bold-font-weight: 700;
    --text-s-bold-font-size: 14px;
    --text-s-bold-letter-spacing: 0px;
    --text-s-bold-line-height: 20px;
    --text-s-bold-font-style: normal;
    --text-s-semi-bold-font-family: "Inter", Helvetica;
    --text-s-semi-bold-font-weight: 600;
    --text-s-semi-bold-font-size: 14px;
    --text-s-semi-bold-letter-spacing: 0px;
    --text-s-semi-bold-line-height: 20px;
    --text-s-semi-bold-font-style: normal;
    --text-s-medium-font-family: "Inter", Helvetica;
    --text-s-medium-font-weight: 500;
    --text-s-medium-font-size: 14px;
    --text-s-medium-letter-spacing: 0px;
    --text-s-medium-line-height: 20px;
    --text-s-medium-font-style: normal;
    --text-s-regular-font-family: "Inter", Helvetica;
    --text-s-regular-font-weight: 400;
    --text-s-regular-font-size: 14px;
    --text-s-regular-letter-spacing: 0px;
    --text-s-regular-line-height: 20px;
    --text-s-regular-font-style: normal;
    --text-XS-bold-font-family: "Inter", Helvetica;
    --text-XS-bold-font-weight: 700;
    --text-XS-bold-font-size: 12px;
    --text-XS-bold-letter-spacing: 0px;
    --text-XS-bold-line-height: 18px;
    --text-XS-bold-font-style: normal;
    --text-XS-semi-bold-font-family: "Inter", Helvetica;
    --text-XS-semi-bold-font-weight: 600;
    --text-XS-semi-bold-font-size: 12px;
    --text-XS-semi-bold-letter-spacing: 0px;
    --text-XS-semi-bold-line-height: 18px;
    --text-XS-semi-bold-font-style: normal;
    --text-XS-medium-font-family: "Inter", Helvetica;
    --text-XS-medium-font-weight: 500;
    --text-XS-medium-font-size: 12px;
    --text-XS-medium-letter-spacing: 0px;
    --text-XS-medium-line-height: 18px;
    --text-XS-medium-font-style: normal;
    --text-XS-regular-font-family: "Inter", Helvetica;
    --text-XS-regular-font-weight: 400;
    --text-XS-regular-font-size: 60px;
    --text-XS-regular-letter-spacing: -1.2px;
    --text-XS-regular-line-height: 72px;
    --text-XS-regular-font-style: normal;
    --text-md-semibold-font-family: "Inter", Helvetica;
    --text-md-semibold-font-weight: 600;
    --text-md-semibold-font-size: 16px;
    --text-md-semibold-letter-spacing: 0px;
    --text-md-semibold-line-height: 24px;
    --text-md-semibold-font-style: normal;
    --shadow-xs: 0px 1px 2px 0px rgba(10, 13, 18, 0.05);
    --colours-blue-100: rgba(209, 233, 255, 1);
    --colours-blue-200: rgba(178, 221, 255, 1);
    --colours-blue-300: rgba(132, 202, 255, 1);
    --colours-blue-400: rgba(83, 177, 253, 1);
    --colours-blue-500: rgba(46, 144, 250, 1);
    --colours-blue-600: rgba(21, 112, 239, 1);
    --colours-blue-700: rgba(23, 92, 211, 1);
    --colours-blue-800: rgba(24, 73, 169, 1);
    --colours-blue-900: rgba(25, 65, 133, 1);
    --colours-red-100: rgba(254, 228, 226, 1);
    --colours-red-200: rgba(254, 205, 202, 1);
    --colours-red-300: rgba(253, 162, 155, 1);
    --colours-red-400: rgba(249, 112, 102, 1);
    --colours-red-500: rgba(240, 68, 56, 1);
    --colours-red-600: rgba(217, 45, 32, 1);
    --colours-red-700: rgba(180, 35, 24, 1);
    --colours-red-800: rgba(145, 32, 24, 1);
    --colours-red-900: rgba(122, 39, 26, 1);
    --colours-grey-100: rgba(245, 245, 245, 1);
    --colours-grey-200: rgba(233, 234, 235, 1);
    --colours-grey-300: rgba(213, 215, 218, 1);
    --colours-grey-400: rgba(164, 167, 174, 1);
    --colours-grey-500: rgba(113, 118, 128, 1);
    --colours-grey-600: rgba(83, 88, 98, 1);
    --colours-grey-700: rgba(65, 70, 81, 1);
    --colours-grey-800: rgba(37, 43, 55, 1);
    --colours-grey-900: rgba(16, 24, 40, 1);
    --colors-grays-black: rgba(0, 0, 0, 1);
    --colors-grays-white: rgba(255, 255, 255, 1);
}

    .hero-header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--colours-blue-100);
}

.hero-header-section .navigation-header {
    display: flex;
    align-self: stretch;
    width: 100%;
    z-index: 1;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.hero-header-section .header {
    display: flex;
    width: 1440px;
    height: 80px;
    align-items: center;
    justify-content: center;
    gap: 24px;
    position: relative;
    background-color: #ffffff;
}

.hero-header-section .logo-content {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
}

.hero-header-section .logo {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.hero-header-section .logo-wrap {
    position: relative;
    width: 139px;
    height: 32px;
}

.hero-header-section .logomark {
    position: absolute;
    width: 23.02%;
    height: 100%;
    top: -6.25%;
    left: -2.16%;
}

.hero-header-section .logotype {
    position: absolute;
    width: 69.78%;
    height: 100%;
    top: 0;
    left: 30.22%;
}

.hero-header-section .vector {
    position: absolute;
    height: 48.72%;
    top: 23.82%;
    left: 0;
    width: 97px;
}

.hero-header-section .navigation-container {
    display: inline-flex;
    padding: 0px 32px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.hero-header-section .navigation {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0px 8px;
    position: relative;
    flex: 0 0 auto;
}

.hero-header-section .button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
}

.hero-header-section .button-base {
    all: unset;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 8px;
    display: inline-flex;
    position: relative;
    flex: 0 0 auto;
}

.hero-header-section .text {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--text-md-semibold-font-family);
    font-weight: var(--text-md-semibold-font-weight);
    color: var(--colors-grays-black);
    font-size: var(--text-md-semibold-font-size);
    letter-spacing: var(--text-md-semibold-letter-spacing);
    line-height: var(--text-md-semibold-line-height);
    white-space: nowrap;
    font-style: var(--text-md-semibold-font-style);
}

.hero-header-section .div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.hero-header-section .search {
    display: flex;
    width: 273px;
    align-items: flex-start;
    gap: 11px;
    padding: 10px;
    position: relative;
    background-color: #ececec;
    border-radius: 15px;
    overflow: hidden;
}

.hero-header-section .img {
    position: relative;
    width: 25px;
    height: 25px;
}

.hero-header-section .input {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--text-md-semibold-font-family);
    font-weight: var(--text-md-semibold-font-weight);
    color: #000000;
    font-size: var(--text-md-semibold-font-size);
    letter-spacing: var(--text-md-semibold-letter-spacing);
    line-height: var(--text-md-semibold-line-height);
    white-space: nowrap;
    font-style: var(--text-md-semibold-font-style);
    background: transparent;
    border: none;
    padding: 0;
}

.hero-header-section .hero-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 64px;
    padding: 320px 0px 40px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    z-index: 0;
    background-image: url(./img/hero-section.png);
    background-size: cover;
    background-position: 50% 50%;
}

.hero-header-section .container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding: 0px 32px;
    position: relative;
    flex: 0 0 auto;
}

.hero-header-section .content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
}

.hero-header-section .heading-and {
    display: flex;
    flex-direction: column;
    width: 1024px;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.hero-header-section .heading {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--display-XL-bold-font-family);
    font-weight: var(--display-XL-bold-font-weight);
    color: var(--colors-grays-white);
    font-size: var(--display-XL-bold-font-size);
    letter-spacing: var(--display-XL-bold-letter-spacing);
    line-height: var(--display-XL-bold-line-height);
    font-style: var(--display-XL-bold-font-style);
}

.hero-header-section .CTA-button {
    display: inline-flex;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
    background-color: var(--colours-blue-700);
    border-radius: 8px;
}

.hero-header-section .text-wrapper {
    padding: 12px 20px;
    background-color: var(--colours-blue-700);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: var(--shadow-xs);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
}

.hero-header-section .text-2 {
    color: var(--colors-grays-white);
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

</style>

{% schema %}
{
"name": "Custom Header",
"settings": [{
"type": "image_picker",
"id": "logo",
"label": "Logo Image"}]}
{% endschema %}