<div class="hero-container"

{% if section.settings.hero_image != blank %}
    style="background-image: url({{ section.settings.hero_image | image_url: width: 1920 }});"
{% endif %} >

    <div class="heading-text">
        <h1 class="hero-heading">
            {{ section.settings.heading }}
        </h1>
    </div>

    <div class="cta">
       {% render 'buttons', 
        text:  section.settings.button_text , 
        type: 'link',  
        url: section.settings.button_link  %}
    </div>

</div>


{% schema %}

{
    "name": "Hero Section",
    "settings": [
        {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Hero Background Image"
    },
    {
    "type": "text",
    "id": "heading",
    "label": "Heading",
    "default": "Premium Quality, Delivered Fast"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Products Now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link",
      "default": "/collections/all"
    }
    ],
    "presets": [
    {
      "name": "Hero Section"
    }
  ]
}
   
{% endschema %}