<div class="product-detail-page">

    <div class="pdp-main">

        <div class="pdp-image">
            <img>
        </div>

        <div class="pdp-details">
            <h1 class="pdp-header">{{ product.title }}</h1>
            <h3 class="pdp-sub-header">{{ product.description }}</h3>

            <p class="pdp-price">{{ product|money }}</p>

            <div class="pdp-size">
                <label for="size">Size</label>
                <select id="size" name="size" size="2" multiple>
                    <option value="large">Large</option>
                    <option value="medium">Medium</option>
                </select>
            </div>

            <div class="pdp-"></div>
        </div>

    </div>
</div>