<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Gift Card</title>
    {{ content_for_header }}
  </head>
  <body>
    <h1>Your Gift Card Balance</h1>
    <p>This is a placeholder for your theme's gift card page.</p>
  </body>
</html>